@use 'variaveis';

.shows {
    padding: 5vw;
    min-height: 100vh;
    background-image: url(../../dist/images/fundo-section-produtos.png);
    background-size: cover;
    background-repeat: no-repeat;


    h2 {
        text-align: center;
        margin-bottom: 70px;
    }

    &__layout {
        display: grid;
        grid-template-columns: 1fr 3fr;

            
            &__list {
                margin-top: 30vh;
                
                &__item{
                    display: block;
                    width: 180px;
                    padding: 8px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    border: none;
                    font-weight: bold;
                    background: none;
                    color: variaveis.$ColorBorderProdutos;
                    cursor: pointer;
                    border-bottom: 4px solid transparent;

                    
                    
                    
                    &--is-active {
                        border-bottom: 4px solid variaveis.$ColorTitle;
                    }
                }
            }

        &__produtos {
            background-color: rgba(255, 255, 255, 0.7);
            border: 5px solid variaveis.$ColorBorderProdutos ;
            border-radius: 15px;
            
            &__list {
                display: none;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;

                &--is-active {
                    display: grid;
                }

                &__item {
                    list-style: none;
                    padding: 40px;
                }
            }
        }
    }
}