@use "variaveis";
@use "hero";
@use 'shows';
@use 'subnav';


@font-face {
    font-family: Alegreya;
    src: url(../../assets/fonts/Alegreya.zip);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alegreya, sans-serif;
}



body {
    background-color: variaveis.$CordeFundo;
}

@mixin title($fontSize: 28px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.title {
    @include title;
    color: variaveis.$ColorTitle;
}

@mixin text ($fontSize:17px) {
    @include title($fontSize);
}

.text {
    @include text;
}

.text__small {
    @include text(12px);
}